---
layout: base.njk
permalink: /
---

My perfectionism therapy; every post here is a hard-fought victory.

<ul class="post-list">
{% for post in collections.posts | reverse %}
	<li>
		<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLL d, yyyy") }}</time>
		<a href="{{ post.url }}">{{ post.data.title }}</a>
	</li>
{% endfor %}
</ul>

Don't blame the AI.

If my post reads poorly, it's just me.
I write poorly.

I sometimes use LLMs for rephrasing,
but believe me,
I try my best and own every word.
